LAB#1 **DATA types and Operators**

Rollno = **20SW012**

Section= **2**

**TASK#1**

In [1]:
var1 = 12
var2 = "Assalam-o-Alaikum"

print("The var1 is {} and the var2 is '{}'.".format(var1, var2))

The var1 is 12 and the var2 is 'Assalam-o-Alaikum'.

**TASK#2**

In [2]:
months = 8
days_in_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

# Use list indexing
num_days = days_in_month[months - 1]

print(num_days)

31

**TASK#3**

In [3]:
eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003',
                 'March 29, 2006', 'August 1, 2008', 'July 22, 2009',
                 'July 11, 2010', 'November 13, 2012', 'March 20, 2015',
                 'March 9, 2016']

# Use negative index
most_recent_dates = eclipse_dates[-3:]

print(most_recent_dates)

['November 13, 2012', 'March 20, 2015', 'March 9, 2016']

**TASK#4**

**Capitazlize**

In [ ]:
text = "hello world"
capitalized_text = text.capitalize()
print(capitalized_text)

**Uppercasr**

In [ ]:
text = "hello world"
uppercase_text = text.upper()
print(uppercase_text)

**Lowercase**

In [ ]:
text = "Hello World"
lowercase_text = text.lower()
print(lowercase_text)

**Strip**

In [ ]:
text = "   Hello World    "
stripped_text = text.strip()
print(stripped_text)

**Replace**

In [ ]:
text = "Hello, World!"
new_text = text.replace("Hello", "Hi")
print(new_text)

**Split**

In [ ]:
text = "apple,banana,orange"
fruits_list = text.split(",")
print(fruits_list)

**Startswith**

In [ ]:
text = "Hello, World!"
result = text.startswith("Hello")
print(result)

**Endswith**

In [ ]:
text = "Hello, World!"
result = text.endswith("World!")
print(result)

**Find**

In [ ]:
text = "Hello, World!"
index = text.find("World")
print(index)

**Count**

In [ ]:
text = "Hello, World!"
occurrences = text.count("l")
print(occurrences)

**TASK#5**

In [5]:
# Nested dictionary to store student data
students_data = {
    "st1": {
        "name": "Hassan",
        "age": 18,
        "grade": "A",
        "address": "Jamshoro",
        "phone": "3163629638"
    },
    "st2": {
        "name": "Niaz",
        "age": 17,
        "grade": "F",
        "address": "Hyderabad",
        "phone": "123456789"
    },


}

# Accessing and printing student data
print("Student 1:")
print("Name:", students_data["st1"]["name"])
print("Age:", students_data["st1"]["age"])
print("Grade:", students_data["st1"]["grade"])
print("Address:", students_data["st1"]["address"])
print("Phone:", students_data["st1"]["phone"])
print()

print("Student 2:")
print("Name:", students_data["st2"]["name"])
print("Age:", students_data["st2"]["age"])
print("Grade:", students_data["st2"]["grade"])
print("Address:", students_data["st2"]["address"])
print("Phone:", students_data["st2"]["phone"])

Student 1:
Name: Hassan
Age: 18
Grade: A
Address: Jamshoro
Phone: 3163629638

Student 2:
Name: Niaz
Age: 17
Grade: F
Address: Hyderabad
Phone: 123456789